/* src/NavigationBar.css */

/* Add a hover effect to the navigation links */
.navbar-nav .nav-item .nav-link:hover {
    color: #ffc107;
    transition: color 0.3s ease-in-out;
  }
  
  /* Add animation to the navigation links when clicked */
  .navbar-nav .nav-item .nav-link.active {
    color: #17a2b8;
    transition: color 0.3s ease-in-out;
    animation: link-click-animation 0.3s;
  }
  
  .navbar-brand.navbar-brand.active {
    background-color: #212529
  }

  /* Keyframes for link click animation */
  @keyframes link-click-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
